.vscode
dist
build
__pycache__
*.egg-info
*.pdb
test.py
*.pyd
test_sampling
*.csv
*.stl
*.png
*.svg
prebuild/OpenBLAS-0.3.20-x86/
*.whl
*.vtu
*.pdf
*.so
*.code-workspace
*.diagsession
*.data*
.venv
*.npy