[build-system]
requires = [
  "setuptools>=42", 
  "wheel",
  "pybind11>=2.8.0",
  "cmake>=3.21",
  "scikit-build>=0.12",
  "numpy"
]

[tool.cibuildwheel]
test-command = "python -m unittest discover {project}/tests"

archs = ["auto64"]
skip = "*-musllinux* pp*"
test-skip = "*musllinux* pp*"